node_modules
/.next/cache/webpack/client-development/0.pack.gz
/.next/cache/webpack/client-development/1.pack.gz
/.next/cache/webpack/client-development/index.pack.gz
/.next/cache/webpack/client-development/index.pack.gz.old
/.next/cache/webpack/server-development/0.pack.gz
/.next/cache/webpack/server-development/index.pack.gz
/.next/server/app/api/tmdb/route.js
/.next/server/app/page_client-reference-manifest.js
/.next/server/app/page.js
/.next/server/pages/_app.js
/.next/server/pages/_document.js
/.next/server/pages/_error.js
/.next/server/vendor-chunks/@swc.js
/.next/server/vendor-chunks/next.js
/.next/server/vendor-chunks/use-sync-external-store.js
/.next/server/vendor-chunks/zustand.js
/.next/server/_error.js
/.next/server/app-paths-manifest.json
/.next/server/interception-route-rewrite-manifest.js
/.next/server/middleware-build-manifest.js
/.next/server/middleware-manifest.json
/.next/server/middleware-react-loadable-manifest.js
/.next/server/next-font-manifest.js
/.next/server/next-font-manifest.json
/.next/server/pages-manifest.json
/.next/server/server-reference-manifest.js
/.next/server/server-reference-manifest.json
/.next/server/webpack-runtime.js
/.next/static/chunks/app/layout.js
/.next/static/chunks/app/page.js
/.next/static/chunks/pages/_app.js
/.next/static/chunks/pages/_error.js
/.next/static/chunks/_error.js
/.next/static/chunks/app-pages-internals.js
/.next/static/chunks/main-app.js
/.next/static/chunks/main.js
/.next/static/chunks/polyfills.js
/.next/static/chunks/react-refresh.js
/.next/static/chunks/webpack.js
/.next/static/css/app/layout.css
/.next/static/development/_buildManifest.js
/.next/static/development/_ssgManifest.js
/.next/static/webpack/app/layout.340641f40ae97796.hot-update.js
/.next/static/webpack/340641f40ae97796.webpack.hot-update.json
/.next/static/webpack/633457081244afec._.hot-update.json
/.next/static/webpack/65f6444790775c45.webpack.hot-update.json
/.next/static/webpack/webpack.340641f40ae97796.hot-update.js
/.next/static/webpack/webpack.65f6444790775c45.hot-update.js
/.next/types/app/api/tmdb/route.ts
/.next/types/app/layout.ts
/.next/types/app/page.ts
/.next/types/package.json
/.next/app-build-manifest.json
/.next/build-manifest.json
/.next/package.json
/.next/react-loadable-manifest.json
/.next/trace
/next-env.d.ts
/package-lock.json
/.next/cache/webpack/client-development/2.pack.gz
/.next/cache/webpack/client-development/3.pack.gz
/.next/cache/webpack/client-development/4.pack.gz
/.next/cache/webpack/client-development/5.pack.gz
/.next/cache/webpack/client-development/6.pack.gz
/.next/cache/webpack/client-development-fallback/0.pack.gz
/.next/cache/webpack/client-development-fallback/index.pack.gz
/.next/cache/webpack/server-development/1.pack.gz
/.next/cache/webpack/server-development/2.pack.gz
/.next/cache/webpack/server-development/3.pack.gz
/.next/cache/webpack/server-development/4.pack.gz
/.next/cache/webpack/server-development/index.pack.gz.old
/.next/server/app/_not-found/page_client-reference-manifest.js
/.next/server/app/_not-found/page.js
/.next/static/chunks/app/_not-found/page.js
/.next/static/webpack/app/layout.7961e7eb1f2d351f.hot-update.js
/.next/static/webpack/6c5cb22000968852.webpack.hot-update.json
/.next/static/webpack/7961e7eb1f2d351f.webpack.hot-update.json
/.next/static/webpack/webpack.6c5cb22000968852.hot-update.js
/.next/static/webpack/webpack.7961e7eb1f2d351f.hot-update.js
